@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Alkalami&family=Lora&family=Playfair+Display&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* font-family: 'Abyssinica SIL', serif;   <-- TEXTE SOUS MENU
font-family: 'Alkalami', serif;             <-- MENU ET PIED DE PAGE
font-family: 'Lora', serif;                 <-- SOUS TITRE
font-family: 'Playfair Display', serif;      <-- TITRE                  */
/* font-family: 'Poppins', sans-serif;        <-- TEXTE                          */


/*****************************************Début contenu ***************/
.row {
    margin-left: 5%;
    margin-right: 5%;
}

.row h5 {
    font-size: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Playfair Display', serif;
    color: #487570;

}

.row p {
    /*Fond du texte*/
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 10%;
    margin-bottom: 20%;

}

.container {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #F0F0F0;

}

/*****************************************Fin contenu ***************/


/*****************************************Début carte ***************/
.row .card-body {
    background-color: #F0F0F0;
    margin-bottom: 5%;
    margin-top: 5%;
    height: 420px;
}

.row .rounded-start {
    margin-bottom: 5%;
    margin-top: 5%;
    height: 450px;
    background-color: #F0F0F0;
}

/*****************************************Fin carte ***************/

/*****************************************Début image ***************/

.fond .img-fluid {
    height: 600px;
    width: 1400px;
}


.card-img {
    height: 600px;
    width: 2000px;
}

/*****************************************Fin image ***************/